header {
    text-align: center;
    background-color: slateblue;
    color: white;
    padding: 1px;
    margin: 10px;
}

h1 {
    padding: 2px;
    margin: 5px;
}

.left {
    display: flex;
    margin-top: 5px;
    justify-content: center;
    background-color: powderblue;
    color: rgb(88, 103, 145);
    font-size: 28px;
    /* margin-left: 100px;
    margin-right: 100px; */
    margin-left: 25%;
    margin-right: 25%;
    
}

#form {
    text-align: center;
}
#input {
    margin-top: 7px;
    resize: none;
}

#msg {
    color: red;
}

.options {
    display: flex;
}

h3 {
    text-align: center;
    margin-top: 50px;
}

/* .right {
    display: flex;
    justify-content: center;
    
} */

#posts {
    width: 400px;
    /* display: flex;
    justify-content: center; */
}
.options {
    display: flex;
    gap: 25px;
    padding: 12px;
}
#posts div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
